.ColorBox {
    width: 20%;
    height: 25%;
    margin: 0 auto;
    margin-bottom: -3.5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.Copy-button {
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -15px;
    text-align: center;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    border: none;
    opacity: 0;
}

.ColorBox:hover .Copy-button {
    opacity: 1;
    transition: 0.5s;
}

.Box-content {
    position: absolute;
    padding: 10px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}

.See-more {
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    right: 0px;
    bottom: 0px;
    color: white;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}